<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Roboto:wght@700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./style/page2appV2.css">
    <title>University Finder Result</title>
</head>

<body style="margin: 0;">
    <div class="Title">
        <h1>Your Search Result</h1>
    </div>
    <div class="pair">
        <div class="university">
            <div class="school badge">
                <img class="university_photo" src="<%= school.logo %>" />
            </div>

            <div class="university_info">
                <div>
                    <h3 class="university_name"><%= school.name %></h3>
                </div>
                <div class="university_address"><%= school.addr %></div>
                <div class="national_rank">
                    <img class="badge" src="./style/images/star.jpg">
                    National Rank: <span>#<%= school.rank %></span>
                </div>
                <div class="admission_rate">Admission Rate: <span class="numbers"><%= school.admr %>%</span></div>
                <div class="tuition"> <span>Tuition Fee:</span><br>In-state: <span class="tuition_fee">$<%= school.tuition_in %></span>
                    &nbsp;Out-of-state: <span class="tuition_fee">$<%= school.tuition_out %></span> </div>
            </div>
        </div>
        <h3>To apply for this school, you might also need the following: </h3>
        <ul>
            <li>Secondary School GPA: <%= school.hsgpa %></li>
            <li>Secondary School Ranking: <%= school.hsrank %></li>
            <li>Secondary School Records: <%= school.hsrecord %></li>
            <li>College Preparatory Program: <%= school.prep %></li>
            <li>Recommendation Letters: <%= school.recom %></li>
            <li>Admission Test Scores (SAT, ACT, etc): <%= school.test %></li>
            <li>TOEFL Scores: <%= school.toefl %></li>
            <li># of Long Essays (more than 250 words): <%= school.long_essay %></li>
            <li># of Short Essays (below 250 words): <%= school.short_essay %></li>
        </ul>
</body>
</html>


