<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Roboto:wght@700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./style/page2appV2.css">
    <title>University Finder Result</title>
</head>



<body style="margin: 0;">
    <div class="Title">
        <h1>Your Search Result</h1>
    </div>

    <!-- calculate font size -->
    <script type="text/javascript">
        function fontSize() {
            var deviceWidth = document.documentElement.clientWidth < 760 ? 760 : document.documentElement.clientWidth;
            document.documentElement.style.fontSize = (deviceWidth / 120) + "px";
        }
        fontSize();
        window.onresize = fontSize;
    </script>



    <div class="university">
        <div class="school badge"><img class="university_photo" src="<%= school.logo %>" /></div>

        <div class="university_info">
            <div><h3 class="university_name"><%= school.name %></h3></div>
            <div class="university_address"><%= school.addr %></div>
            <div class="national_rank">
                <img class="badge" src="./style/images/star.jpg">
                National Rank: <span>#<%= school.rank %></span>
            </div>
            <div class="admission_rate">Admission Rate: <span class="numbers"><%= school.admr %>%</span></div>
            <div class="tuition"> <span>Tuition</span><br>In-state: <span class="tuition_fee">$<%=
                        school.tuition_in %></span>
                &nbsp;Out-of-state: <span class="tuition_fee">$<%= school.tuition_out %></span> </div>
        </div>
    </div>


    <h3>To apply for this school, you may also need the following </h3>
    <div class="supplements">
        <table class="paleBlueRows">
            <tbody>
                <tr>
                    <td>Secondary School GPA</td>
                    <td><div class="tablevalue"><%= school.hsgpa %></div></td>
                </tr>
                <tr>
                    <td>Secondary School Ranking</td>
                    <td><div class="tablevalue"><%= school.hsrank %></div></td>
                </tr>
                <tr>
                    <td>Secondary School Records</td>
                    <td><div class="tablevalue"><%= school.hsrecord %></div>
                    </td>
                </tr>
                <tr>
                    <td>College Preparatory Program</td>
                    <td><div class="tablevalue"><%= school.prep %></div></td>
                </tr>
                <tr>
                    <td>Recommendation Letters</td>
                    <td><div class="tablevalue"><%= school.recom %></div></td>
                </tr>
                <tr>
                    <td>Admission Test Scores (SAT, ACT, etc)</td>
                    <td><div class="tablevalue"><%= school.test %></div></td>
                </tr>
                <tr>
                    <td>TOEFL Scores</td>
                    <td><div class="tablevalue"><%= school.toefl %></div></td>
                </tr>
                <tr>
                    <td>Number of Long Essays (more than 250 words)</td>
                    <td><div class="tablevalue"><%= school.long_essay %></div></td>
                </tr>
                <tr>
                    <td>Number of Short Essays (below 250 words)</td>
                    <td><div class="tablevalue"><%= school.short_essay %></div></td>
                </tr>
            </tbody>
            </tr>
        </table>
    </div>


</body>

</html>