<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/page2appV3.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Roboto:wght@700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <title>University Finder Result</title>
</head>

<body style="margin: 0;">
    <div class="logo"><img src="./style/images/3(1).png"></div>
    <h1>Your University Recommendations</h1>

    <!-- javascript functions -->
    <script type="text/javascript">

        function radioCheck() {
            if (document.getElementById("reachSchool").checked) {
                document.getElementById("reach").style.display = "block";
                document.getElementById("match").style.display = "none";
                document.getElementById("safety").style.display = "none";
            } else if (document.getElementById("matchSchool").checked) {
                document.getElementById("reach").style.display = "none";
                document.getElementById("match").style.display = "block";
                document.getElementById("safety").style.display = "none";
            } else if (document.getElementById("safetySchool").checked) {
                document.getElementById("reach").style.display = "none";
                document.getElementById("match").style.display = "none";
                document.getElementById("safety").style.display = "block";
            }
        }
    </script>

    <!-- calculate font size -->
    <script type="text/javascript">
        function fontSize() {
            var deviceWidth = document.documentElement.clientWidth < 760 ? 760 : document.documentElement.clientWidth;
            document.documentElement.style.fontSize = (deviceWidth / 120) + "px";
        }
        fontSize();
        window.onresize = fontSize;
    </script>

    <!-- This is for user to choose which school type to present -->
    <form class="userInput" action="your-schools" method="post">
        <div class="userInput">
            Select Your School Type:
            <input type="radio" id="reachSchool" class="schools" name="school_type" value="reach"
                onclick="radioCheck();">
            <label class="radiolabel" for="reachSchool">Reach Schools</label>
            <input type="radio" id="matchSchool" class="schools" name="school_type" value="match"
                onclick="radioCheck();">
            <label class="radiolabel" for="matchSchool">Match Schools</label>
            <input type="radio" id="safetySchool" class="schools" name="school_type" value="safety"
                onclick="radioCheck();">
            <label class="radiolabel" for="safetySchool">Safety Schools</label>
        </div>
    </form>

    <div id="reach" style="display: none;">
        <% for (var school of schools.reach){ %>
            <div class="university">
                <div class="university_info">
                    <div>
                        <a class="university_name"
                            href="search-school?school_name=<%= school.INSTNM.replace(' ', '+') %>">
                            <%= school.INSTNM %>
                        </a>
                    </div>
                    <div class="university_address">
                        <%= school.ADDR + ", " + school.CITY + ", " + school.STABBR %>
                    </div>
                    <div class="national_rank">&#9733;National Rank
                        <% if (school.RANKING < 9999) { %>
                            <span> #<%= school.RANKING %></span>
                            <%} else { %>
                            <span> Unranked</span>
                            <% } %>
                    </div>
                    <div class="admission_rate">Admission Rate <span class="numbers">
                            <%= (school.ADMR*100).toFixed(2) %>%
                        </span></div>
                    <!-- <div class="tuition"> <span>Tuition</span><br>In-state <span class="tuition_fee">
                            $<%= school.TUITION2 %>
                        </span>
                        &nbsp;Out-of-state <span class="tuition_fee">
                            $<%= school.TUITION3 %>
                        </span> </div> -->
                </div>

                <% if (schools.test==='sat' ) { %>
                    <div class="sat">
                        <div class="sat_act_title">Historical Admission Scores</div>
                        <div class="subject">
                            <span class="r_w">Reading: </span>
                            <span class="score">Mean <span class="numbers">
                                    <%= school.SATVRM.toFixed(0) %>
                                </span> &nbsp;&nbsp;
                                SD <span class="numbers">
                                    <%= school.SATVRSD.toFixed(0) %>
                                </span></span>
                        </div>
                        <div class="subject">
                            <span class="math">Math: Mean <span class="numbers">
                                    <%= school.SATMTM.toFixed(0) %>
                                </span> &nbsp;&nbsp;
                                SD <span class="numbers">
                                    <%= school.SATMTSD.toFixed(0) %>
                                </span></span>
                        </div>
                    </div>
                    <div class="tuition"> <span>Tuition</span><br>In-state <span class="tuition_fee">
                            $<%= Number(school.TUITION2).toLocaleString('en') %>
                        </span>
                        &nbsp;&nbsp;Out-of-state <span class="tuition_fee">
                            $<%= Number(school.TUITION3).toLocaleString('en') %>
                        </span> </div>

                    <% } else { %>
                        <div class="act">
                            <div class="sat_act_title">Historical Admission Scores</div>
                            <div class="subject">Composite: Mean <span class="numbers">
                                    <%= school.ACTCMM.toFixed(1) %>
                                </span> &nbsp;
                                SD <span class="numbers">
                                    <%= school.ACTCMSD.toFixed(1) %>
                                </span></div>
                            <div class="subject"><span class="english"> English: </span>
                                Mean <span class="numbers">
                                    <%= school.ACTENM.toFixed(1) %>
                                </span> &nbsp;
                                SD <span class="numbers">
                                    <%= school.ACTENSD.toFixed(1) %>
                                </span></div>
                            <div class="subject"><span class="act_math">Math:</span> Mean <span class="numbers">
                                    <%= school.ACTMTM.toFixed(1) %>
                                </span>
                                &nbsp;
                                SD <span class="numbers">
                                    <%= school.ACTMTSD.toFixed(1) %>
                                </span>
                            </div>
                        </div>
                        <div class="tuition"> <span>Tuition</span><br>In-state <span class="tuition_fee">
                                $<%= Number(school.TUITION2).toLocaleString('en') %>
                            </span>
                            &nbsp;&nbsp;Out-of-state <span class="tuition_fee">
                                $<%= Number(school.TUITION3).toLocaleString('en') %>
                            </span> </div>
                        <% } %>
            </div>
            <% } %>
                <% if (!schools.reach.length) {%>
                    <% if (schools.safety.length) {%>
                        <h2>Apparently, no school is above you!</h2>
                        <% } else {%>
                            <br>
                            <h2>You may want to check out some vocational programs.</h2>
                            <h2>University isn't the only way to success.</h2>
                            <% } %>
                                <% } %>

    </div>



    <div id="match" style="display: none;">

        <% for (var school of schools.match){ %>
            <div class="university">
                <div class="university_info">
                    <div>
                        <a class="university_name"
                            href="search-school?school_name=<%= school.INSTNM.replace(' ', '+') %>">
                            <%= school.INSTNM %>
                        </a>
                    </div>
                    <div class="university_address">
                        <%= school.ADDR + ", " + school.CITY + ", " + school.STABBR %>
                    </div>
                    <div class="national_rank">&#9733;National Rank
                        <% if (school.RANKING < 9999) { %>
                            <span> #<%= school.RANKING %></span>
                            <%} else { %>
                                <span> Unranked</span>
                                <% } %>
                                    </span>
                    </div>
                    <div class="admission_rate">Admission Rate <span class="numbers">
                            <%= (school.ADMR*100).toFixed(2) %>%
                        </span></div>
                    <!-- <div class="tuition"> <span>Tuition</span><br>In-state <span class="tuition_fee">
                            $<%= school.TUITION2 %>
                        </span>
                        &nbsp;Out-of-state <span class="tuition_fee">
                            $<%= school.TUITION3 %>
                        </span> </div> -->
                </div>


                <% if (schools.test==='sat' ) { %>
                    <div class="sat">
                        <div class="sat_act_title">Historical Admission Scores</div>
                        <div class="subject">
                            <span class="r_w">Reading: </span>
                            <span class="score">Mean <span class="numbers">
                                    <%= school.SATVRM.toFixed(0) %>
                                </span> &nbsp;&nbsp;
                                SD <span class="numbers">
                                    <%= school.SATVRSD.toFixed(0) %>
                                </span></span>
                        </div>
                        <div class="subject">
                            <span class="math">Math: Mean <span class="numbers">
                                    <%= school.SATMTM.toFixed(0) %>
                                </span> &nbsp;&nbsp;
                                SD <span class="numbers">
                                    <%= school.SATMTSD.toFixed(0) %>
                                </span></span>
                        </div>
                    </div>
                    <div class="tuition"> <span>Tuition</span><br>In-state <span class="tuition_fee">
                            $<%= Number(school.TUITION2).toLocaleString('en') %>
                        </span>
                        &nbsp;&nbsp;Out-of-state <span class="tuition_fee">
                            $<%= Number(school.TUITION3).toLocaleString('en') %>
                        </span> </div>
                    <% } else { %>
                        <div class="act">
                            <div class="sat_act_title">Historical Admission Scores</div>
                            <div class="subject">Composite: Mean <span class="numbers">
                                    <%= school.ACTCMM.toFixed(1) %>
                                </span> &nbsp;
                                SD <span class="numbers">
                                    <%= school.ACTCMSD.toFixed(1) %>
                                </span></div>
                            <div class="subject"><span class="english"> English: </span>
                                Mean <span class="numbers">
                                    <%= school.ACTENM.toFixed(1) %>
                                </span> &nbsp;
                                SD <span class="numbers">
                                    <%= school.ACTENSD.toFixed(1) %>
                                </span></div>
                            <div class="subject"><span class="act_math">Math:</span> Mean <span class="numbers">
                                    <%= school.ACTMTM.toFixed(1) %>
                                </span>
                                &nbsp;
                                SD <span class="numbers">
                                    <%= school.ACTMTSD.toFixed(1) %>
                                </span>
                            </div>
                        </div>
                        <div class="tuition"> <span>Tuition</span><br>In-state <span class="tuition_fee">
                                $<%= Number(school.TUITION2).toLocaleString('en') %>
                            </span>
                            &nbsp;&nbsp;Out-of-state <span class="tuition_fee">
                                $<%= Number(school.TUITION3).toLocaleString('en') %>
                            </span> </div>
                        <% } %>
            </div>
            <% } %>
                <% if (schools.match.length==0) {%>
                    <% if (schools.safety.length) { %>
                        <h2>Just check out the safety schools!</h2>
                        <% } else if (schools.reach.length==0) { %>
                            <br>
                            <h2>You may want to check out some vocational programs.</h2>
                            <h2>University isn't the only way to success.</h2>
                            <% } %>
                                <% } %>
    </div>


    <div id="safety" style="display: none;">

        <% for (var school of schools.safety){ %>
            <div class="university">
                <div class="university_info">
                    <div>
                        <a class="university_name"
                            href="search-school?school_name=<%= school.INSTNM.replace(' ', '+') %>">
                            <%= school.INSTNM %>
                        </a>
                    </div>
                    <div class="university_address">
                        <%= school.ADDR + ", " + school.CITY + ", " + school.STABBR %>
                    </div>
                    <div class="national_rank">National Rank
                        <% if (school.RANKING < 9999) {%>
                            <span>#<%= school.RANKING %> </span>
                            <%} else { %>
                            N<span> Unranked</span>
                            <% } %>
                    </div>
                    <div class="admission_rate">Admission Rate <span class="numbers">
                            <%= (school.ADMR*100).toFixed(2) %>%
                        </span></div>
                    <!-- <div class="tuition"> <span>Tuition</span><br>In-state <span class="tuition_fee">
                            $<%= school.TUITION2 %>
                        </span>
                        &nbsp;Out-of-state <span class="tuition_fee">
                            $<%= school.TUITION3 %>
                        </span> </div> -->
                </div>

                <% if (schools.test==='sat' ) { %>
                    <div class="sat">
                        <div class="sat_act_title">Historical Admission Scores</div>
                        <div class="subject">
                            <span class="r_w">Reading: </span>
                            <span class="score">Mean <span class="numbers">
                                    <%= school.SATVRM.toFixed(0) %>
                                </span> &nbsp;&nbsp;
                                SD <span class="numbers">
                                    <%= school.SATVRSD.toFixed(0) %>
                                </span></span>
                        </div>
                        <div class="subject">
                            <span class="math">Math: Mean <span class="numbers">
                                    <%= school.SATMTM.toFixed(0) %>
                                </span> &nbsp;&nbsp;
                                SD <span class="numbers">
                                    <%= school.SATMTSD.toFixed(0) %>
                                </span></span>
                        </div>
                    </div>
                    <div class="tuition"> <span>Tuition</span><br>In-state <span class="tuition_fee">
                            $<%= Number(school.TUITION2).toLocaleString('en') %>
                        </span>
                        &nbsp;&nbsp;Out-of-state <span class="tuition_fee">
                            $<%= Number(school.TUITION3).toLocaleString('en') %>
                        </span> </div>
                    <% } else { %>
                        <div class="act">
                            <div class="sat_act_title">Historical Admission Scores</div>
                            <div class="subject">Composite: Mean <span class="numbers">
                                    <%= school.ACTCMM.toFixed(1) %>
                                </span> &nbsp;
                                SD <span class="numbers">
                                    <%= school.ACTCMSD.toFixed(1) %>
                                </span></div>
                            <div class="subject"><span class="english"> English: </span>
                                Mean <span class="numbers">
                                    <%= school.ACTENM.toFixed(1) %>
                                </span> &nbsp;
                                SD <span class="numbers">
                                    <%= school.ACTENSD.toFixed(1) %>
                                </span></div>
                            <div class="subject"><span class="act_math">Math:</span> Mean <span class="numbers">
                                    <%= school.ACTMTM.toFixed(1) %>
                                </span>
                                &nbsp;
                                SD <span class="numbers">
                                    <%= school.ACTMTSD.toFixed(1) %>
                                </span>
                            </div>
                        </div>
                        <div class="tuition"> <span>Tuition</span><br>In-state <span class="tuition_fee">
                                $<%= Number(school.TUITION2).toLocaleString('en') %>
                            </span>
                            &nbsp;&nbsp;Out-of-state <span class="tuition_fee">
                                $<%= Number(school.TUITION3).toLocaleString('en') %>
                            </span> </div>
                        <% } %>
            </div>
            <% } %>
                <% if (!schools.safety.length && !schools.match.length && !schools.reach.length) {%>
                    <br>
                    <h2>You may want to check out some vocational programs.</h2>
                    <h2>University isn't the only way to success.</h2>
                    <% } %>
    </div>

</body>

</html>