<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/page2appV3.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Roboto:wght@700&display=swap"
        rel="stylesheet">
    <title>University Finder Result</title>
</head>

<body style="margin: 0;">
    <div class="Title">
        <h1>Your University Recommendation</h1>
    </div>

    <!-- javascript functions -->
    <script type="text/javascript">

        function radioCheck() {
            if (document.getElementById("reachSchool").checked) {
                document.getElementById("reach").style.display = "block";
                document.getElementById("match").style.display = "none";
                document.getElementById("safety").style.display = "none";
            } else if (document.getElementById("matchSchool").checked) {
                document.getElementById("reach").style.display = "none";
                document.getElementById("match").style.display = "block";
                document.getElementById("safety").style.display = "none";
            } else if (document.getElementById("safetySchool").checked) {
                document.getElementById("reach").style.display = "none";
                document.getElementById("match").style.display = "none";
                document.getElementById("safety").style.display = "block";
            }
        }
    </script>

    <!-- This is for user to choose which school type to present -->
    <form class="userInput" action="your-schools" method="post">
        <div class="userInput">
            Select Your School Type:
            <input type="radio" id="reachSchool" class="schools" name="school_type" value="reach"
                onclick="radioCheck();">
            <label class="radiolabel" for="reachSchool">Reach Schools</label>
            <input type="radio" id="matchSchool" class="schools" name="school_type" value="match"
                onclick="radioCheck();">
            <label class="radiolabel" for="matchSchool">Match Schools</label>
            <input type="radio" id="safetySchool" class="schools" name="school_type" value="safety"
                onclick="radioCheck();">
            <label class="radiolabel" for="safetySchool">Safety Schools</label>
        </div>
    </form>

    <div id="reach" style="display: none;">

        <% for (var school of schools.reach){ %>
            <div class="university">
                <div class="university_info">
                    <div>
                        <h3 class="university_name">
                            <%= school.INSTNM %>
                        </h3>
                    </div>
                    <div class="university_address">
                        <%= school.ADDR + ", " + school.CITY + ", " + school.STABBR %>
                    </div>
                    <div class="national_rank">
                        <img class="badge" src="./style/images/star.jpg">
                        National Rank: <span>
                            <%= school.rank %>
                        </span>
                    </div>
                    <div class="admission_rate">Admission Rate: <span class="numbers">
                            <%= (school.ADMR*100).toFixed(2) %>%
                        </span></div>
                    <div class="tuition"> <span>Tuition Fee:</span><br>In-state: <span class="tuition_fee">
                            $<%= school.TUITION2 %>
                        </span>
                        &nbsp;Out-of-state: <span class="tuition_fee">
                            $<%= school.TUITION3 %>
                        </span> </div>
                </div>

                <div class="sat">
                    <div class="sat_act_title">SAT Score:</div>
                    <div class="subject"><span class="r_w">Reading: </span> <span class="score">Mean: <span
                                class="numbers">
                                <%= school.SATVRM.toFixed(2) %>
                            </span> &nbsp;&nbsp;
                            SD: <span class="numbers">
                                <%= school.SATVRSD.toFixed(2) %>
                            </span></span></div>
                    <div class="subject">
                        <span class="math">Math: Mean: <span class="numbers">
                                <%= school.SATMTM.toFixed(2) %>
                            </span> &nbsp;&nbsp;
                            SD: <span class="numbers">
                                <%= school.SATMTSD.toFixed(2) %>
                            </span></span>
                    </div>
                </div>

                <div class="act">
                    <div class="sat_act_title">ACT Score:</div>
                    <div class="subject">Composite: Mean: <span class="numbers">
                            <%= school.ACTCMM.toFixed(2) %>
                        </span> &nbsp;
                        SD: <span class="numbers">
                            <%= school.ACTCMSD.toFixed(2) %>
                        </span></div>
                    <div class="subject"><span class="english"> English: </span>
                        Mean: <span class="numbers">
                            <%= school.ACTENM.toFixed(2) %>
                        </span> &nbsp;
                        SD: <span class="numbers">
                            <%= school.ACTENSD.toFixed(2) %>
                        </span></div>
                    <div class="subject"><span class="act_math">Math:</span> 75%: <span class="numbers">
                            <%= school.ACTMTM.toFixed(2) %>
                        </span>
                        &nbsp;
                        25%: <span class="numbers">
                            <%= school.ACTMTSD.toFixed(2) %>
                        </span>
                    </div>
                </div>
            </div>
            <% } %>
    </div>

    <div id="match" style="display: none;">

        <% for (var school of schools.match){ %>
            <div class="university">
                <div class="university_info">
                    <div>
                        <h3 class="university_name">
                            <%= school.INSTNM %>
                        </h3>
                    </div>
                    <div class="university_address">
                        <%= school.ADDR + ", " + school.CITY + ", " + school.STABBR %>
                    </div>
                    <div class="national_rank">
                        <img class="badge" src="./style/images/star.jpg">
                        National Rank: <span>
                            <%= school.rank %>
                        </span>
                    </div>
                    <div class="admission_rate">Admission Rate: <span class="numbers">
                            <%= (school.ADMR*100).toFixed(2) %>%
                        </span></div>
                    <div class="tuition"> <span>Tuition Fee:</span><br>In-state: <span class="tuition_fee">
                            $<%= school.TUITION2 %>
                        </span>
                        &nbsp;Out-of-state: <span class="tuition_fee">
                            $<%= school.TUITION3 %>
                        </span> </div>
                </div>

                <div class="sat">
                    <div class="sat_act_title">SAT Score:</div>
                    <div class="subject"><span class="r_w">Reading: </span> <span class="score">Mean: <span
                                class="numbers">
                                <%= school.SATVRM.toFixed(2) %>
                            </span> &nbsp;&nbsp;
                            SD: <span class="numbers">
                                <%= school.SATVRSD.toFixed(2) %>
                            </span></span></div>
                    <div class="subject">
                        <span class="math">Math: Mean: <span class="numbers">
                                <%= school.SATMTM.toFixed(2) %>
                            </span> &nbsp;&nbsp;
                            SD: <span class="numbers">
                                <%= school.SATMTSD.toFixed(2) %>
                            </span></span>
                    </div>
                </div>

                <div class="act">
                    <div class="sat_act_title">ACT Score:</div>
                    <div class="subject">Composite: Mean: <span class="numbers">
                            <%= school.ACTCMM.toFixed(2) %>
                        </span> &nbsp;
                        SD: <span class="numbers">
                            <%= school.ACTCMSD.toFixed(2) %>
                        </span></div>
                    <div class="subject"><span class="english"> English: </span>
                        Mean: <span class="numbers">
                            <%= school.ACTENM.toFixed(2) %>
                        </span> &nbsp;
                        SD: <span class="numbers">
                            <%= school.ACTENSD.toFixed(2) %>
                        </span></div>
                    <div class="subject"><span class="act_math">Math:</span> 75%: <span class="numbers">
                            <%= school.ACTMTM.toFixed(2) %>
                        </span>
                        &nbsp;
                        25%: <span class="numbers">
                            <%= school.ACTMTSD.toFixed(2) %>
                        </span>
                    </div>
                </div>
            </div>
            <% } %>
    </div>

    <div id="safety" style="display: none;">

        <% for (var school of schools.safety){ %>
            <div class="university">
                <div class="university_info">
                    <div>
                        <h3 class="university_name">
                            <%= school.INSTNM %>
                        </h3>
                    </div>
                    <div class="university_address">
                        <%= school.ADDR + ", " + school.CITY + ", " + school.STABBR %>
                    </div>
                    <div class="national_rank">
                        <img class="badge" src="./style/images/star.jpg">
                        National Rank: <span>
                            <%= school.rank %>
                        </span>
                    </div>
                    <div class="admission_rate">Admission Rate: <span class="numbers">
                            <%= (school.ADMR*100).toFixed(2) %>%
                        </span></div>
                    <div class="tuition"> <span>Tuition Fee:</span><br>In-state: <span class="tuition_fee">
                            $<%= school.TUITION2 %>
                        </span>
                        &nbsp;Out-of-state: <span class="tuition_fee">
                            $<%= school.TUITION3 %>
                        </span> </div>
                </div>

                <div class="sat">
                    <div class="sat_act_title">SAT Score:</div>
                    <div class="subject"><span class="r_w">Reading: </span> <span class="score">Mean: <span
                                class="numbers">
                                <%= school.SATVRM.toFixed(2) %>
                            </span> &nbsp;&nbsp;
                            SD: <span class="numbers">
                                <%= school.SATVRSD.toFixed(2) %>
                            </span></span></div>
                    <div class="subject">
                        <span class="math">Math: Mean: <span class="numbers">
                                <%= school.SATMTM.toFixed(2) %>
                            </span> &nbsp;&nbsp;
                            SD: <span class="numbers">
                                <%= school.SATMTSD.toFixed(2) %>
                            </span></span>
                    </div>
                </div>

                <div class="act">
                    <div class="sat_act_title">ACT Score:</div>
                    <div class="subject">Composite: Mean: <span class="numbers">
                            <%= school.ACTCMM.toFixed(2) %>
                        </span> &nbsp;
                        SD: <span class="numbers">
                            <%= school.ACTCMSD.toFixed(2) %>
                        </span></div>
                    <div class="subject"><span class="english"> English: </span>
                        Mean: <span class="numbers">
                            <%= school.ACTENM.toFixed(2) %>
                        </span> &nbsp;
                        SD: <span class="numbers">
                            <%= school.ACTENSD.toFixed(2) %>
                        </span></div>
                    <div class="subject"><span class="act_math">Math:</span> 75%: <span class="numbers">
                            <%= school.ACTMTM.toFixed(2) %>
                        </span>
                        &nbsp;
                        25%: <span class="numbers">
                            <%= school.ACTMTSD.toFixed(2) %>
                        </span>
                    </div>
                </div>
            </div>
            <% } %>
    </div>


</body>

</html>